<fieldset>
  <legend><%= l(:redmine_portfolio_settings) %></legend>
  <p>
    <label for="settings_enabled"><%= l(:enabled) %></label>
    <%= hidden_field_tag 'settings[enabled]', "false", :id => "settings_enabled_false" %>
    <%= check_box_tag 'settings[enabled]', "true", Portfolio::Redmine.enabled? %>
  </p>
  <p>
    <label for="settings_public_access"><%= l(:public_access) %></label>
    <%= hidden_field_tag 'settings[public_access]', "false", :id => "settings_public_access_false" %>
    <%= check_box_tag 'settings[public_access]', "true", Portfolio::Redmine.public_access? %>
  </p>
  <p>
    <label for="settings_title"><%= l(:title) %></label>
    <%= text_field_tag 'settings[title]', Portfolio::Redmine.title %>
  </p>
  <p>
    <label for="settings_presence_attribute"><%= l(:presence_attribute) %></label>
    <%= select_tag 'settings[presence_attribute]', options_from_collection_for_select(CustomField.all, :name, :name, Portfolio::Redmine.settings[:presence_attribute]) %>
  </p>
  <p>
    <label for="settings_name_attribute"><%= l(:name_attribute) %></label>
    <%= select_tag 'settings[name_attribute]', options_from_collection_for_select(CustomField.all, :name, :name, Portfolio::Redmine.settings[:name_attribute]) %>
  </p>
  <p>
    <label for="settings_image_attribute"><%= l(:image_attribute) %></label>
    <%= select_tag 'settings[image_attribute]', options_from_collection_for_select(CustomField.all, :name, :name, Portfolio::Redmine.settings[:image_attribute]) %>
  </p>
  <p>
    <label for="settings_tokens_attribute"><%= l(:tokens_attribute) %></label>
    <%= select_tag 'settings[tokens_attribute]', options_from_collection_for_select(CustomField.all, :name, :name, Portfolio::Redmine.settings[:tokens_attribute]) %>
  </p>
  <p>
    <label for="settings_custom_css"><%= l(:custom_css) %></label>
    <%= text_area_tag 'settings[custom_css]', Portfolio::Redmine.custom_css, :rows => 10 %>
  </p>
  <p>
    <label for="settings_custom_code"><%= l(:custom_code) %></label>
    <%= text_area_tag 'settings[custom_code]', Portfolio::Redmine.custom_code, :rows => 10 %>
  </p>
</fieldset>
