<div id="container">
  <div id="top">
    <h1><%=Portfolio::Redmine.title%></h1>
    <%= text_field_tag 'search', '', :placeholder => 'Start typing ...', :autocomplete => 'off', :autofocus => 'autofocus' %>
  </div>
  <div id="center">
    <ul>
      <% @projects.each do |project| -%>
        <li class="application active" id="<%= project.id %>">
          <%= portfolio_link_to_modal project do %>
            <div class="image">
              <%= portfolio_image_for(project) %>
            </div>
          <% end -%>
          <%= portfolio_link_to_project project, :class => 'homepage' %>
        </li>
      <% end -%>
    </ul>
  </div>
</div>

<script language="javascript">
  $(function(){
    <% @projects.each do |p| %>
      index.add('<%= j "{id: #{p.id}, title: '#{p.portfolio_name}', body: '#{p.short_description}'}".html_safe %>');
    <% end %>
  });
</script>
