<% if !browser.device.mobile? && !browser.device.tablet? -%>
  <% cache('portfolio_desktop_view') do %>
    <script id="project-template" type="text/mustache">
      <li class="application active" id="{{id}}">
        <div class="container">
          <a href="#" class="info" data-idx="{{idx}}" data-modal="info" title="{{title}}">
            <%= image_tag 'info.png', :plugin => 'portfolio' %>
          </a>
          <span class="logo" data-url="{{url}}">
            <img alt="{{title}}" src="{{image_src}}">
          </span>
        </div>
        <a href="{{url}}" class="homepage" target="+blank">{{title}}</a>
      </li>
    </script>
  <% end %>
<% end %>

<% if browser.device.mobile? || browser.device.tablet? -%>
  <% cache('portfolio_mobile_view') do %>
    <script id="project-template" type="text/mustache">
      <li class="application active" id="{{id}}">
        <div class="container">
          <div class="menu">
            <a href="#" class="detail" data-idx="{{idx}}" data-modal="info" title="{{title}}">Info</a>
            <a href="{{url}}" target="_blank" class="link">Go!</a>
          </div>
          <div class="swifter open-sidebar">
            <span class="logo" data-url="{{url}}">
              <img alt="{{title}}" src="{{image_src}}">
            </span>
          </div>
        </div>
        <a href="{{url}}" class="homepage" target="+blank">{{title}}</a>
      </li>
    </script>
  <% end %>
<% end -%>

<% cache('portfolio_view') do %>
  <div id="container" class="not-blur">
    <%= portfolio_mobile_info_toggler %>
    <div id="top">
      <h1><%=Portfolio::Redmine.title%></h1>
      <%= text_field_tag 'search', '', :placeholder => 'Search for ...', :autocomplete => 'off' %>
    </div>
    <div id="center">
      <ul id="projects"> </ul>
    </div>
  </div>

  <script language="javascript">
    var projects = {},
        template = $('#project-template').text(),
            list = $('#projects');

    <% @projects.each_with_index do |p, i| %>
      projects['<%= i %>'] = {
        id: <%= p.id %>,
        idx: '<%= i %>',
        title: '<%= j p.portfolio_name.html_safe %>',
        plain_description: '<%= j portfolio_plain_description(p).html_safe %>',
        tokens: '<%= j portfolio_tokens(p).html_safe %>',
        description: '<%= j textilizable(p.description, :project => p).html_safe %>',
        image_src: '<%= j portfolio_image_src_for(p).html_safe %>',
        url: '<%= j p.homepage.html_safe %>'
      };
    <% end %>

    $(function(){
      $.each(projects, function(i, project){
        index.add(project);
        list.append(Mustache.to_html(template, project));
      });

      $('.swifter').each(function(i, e){
        setTimeout( function() { 
          $(e).removeClass('open-sidebar').addClass('close-sidebar');
        }, i * 100);
      });

      $("#projects .logo")
        .on("click", function(e){
          window.open($(this).data('url'), '_blank');
        })
        .swipe({
          swipeStatus: function(event, phase, direction, distance, duration, fingers) {
            if (phase=="move" && direction =="right") {
              $(this).parent().removeClass("open-sidebar");
              $(this).parent().addClass("close-sidebar");
              return false;
            }
            if (phase=="move" && direction =="left") {
              $(".swifter").removeClass("open-sidebar").addClass("close-sidebar");
              $(this).parent().removeClass("close-sidebar").addClass("open-sidebar");
              return false;
            }
          }
        });
    });
  </script>
<% end %>
