<!DOCTYPE html>
<html lang="<%= current_language %>">
  <head>
    <meta charset="utf-8" />
    <title><%=h html_title %></title>
    <meta name="description" content="<%= Redmine::Info.app_name %>" />
    <meta name="keywords" content="issue,bug,tracker,portfolio" />
    <%= favicon %>
    <%= stylesheet_link_tag 'reset', 'vex', 'vex-theme-plain', 'portfolio', :plugin => 'portfolio' %>
    <%= javascript_include_tag 'jquery-1.11.0.min.js', 'vex.combined.min.js', 'portfolio', :plugin => 'portfolio' %>
    <style>
      <%= Portfolio::Redmine.custom_css.html_safe %>
    </style>
  </head>
  <body id="portfolio">
    <%= yield %>
  </body>
</html>
