<!DOCTYPE html>
<html lang="<%= current_language %>">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <title><%=h html_title %></title>
    <meta name="description" content="<%= Redmine::Info.app_name %>" />
    <meta name="keywords" content="issue,bug,tracker,portfolio" />
    <%= favicon %>
    <%= stylesheet_link_tag 'reset', 'vex', 'vex-theme-plain', 'portfolio', :plugin => 'portfolio' %>
    <%= javascript_include_tag 'jquery-1.11.0.min.js', 'jquery.html5-placeholder-shim.js', 'lunr.min.js', 'vex.combined.min.js', 'portfolio', :plugin => 'portfolio' %>
    <style>
      <%= Portfolio::Redmine.custom_css.html_safe %>
    </style>
  </head>
  <body id="portfolio">
    <%= yield %>
  </body>
</html>
